@page "/cadastro"
@using Microsoft.AspNetCore.Components.Forms
@using RepositorioTCC.Data
@inject UserServices userServices
@inject IJSRuntime JsRuntime
@inject NavigationManager navigationManager
@inject StateContainer stateContainer
@inject RepositorioTCCAuthenticationStateProvider RepositorioTCCAuthenticationStateProvider

<div class="login-wrap">
  <h2 class="titulo">Cadastrar</h2>
  
  <div class="form">
    <input class="teste" type="text" id="nome" placeholder="Nome" @bind-value="@user.Nome" />
    <input class="teste" type="email" id="email" placeholder="Email" @bind-value="@user.Email"  />
    <input class="teste" type="password" placeholder="Senha" id="password" @bind-value="@user.Senha" />
    <button class="login" @onclick="Cadastrar"> Cadastrar </button>
  </div>
</div>

@code {
    private User user = new User();

    public async Task Cadastrar(){
        string mensagem = "";        
        try
        {
            await userServices.AddUserAsync(user);
            mensagem = "Usuario cadastrado!";
        }
        catch (Exception ex)
        {
            Console.WriteLine("Erro ao tentar adicionar usuário {0}", ex);
            mensagem = ex.Message;
        }
        finally
        {
            await JsRuntime.InvokeVoidAsync("alert", mensagem);
        }      
    }
}
