@inherits LayoutComponentBase

<PageTitle>RepositorioTCC</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
             
            <div class="top-row-title" style="margin-right: auto;">
                <a href="/"  style="text-decoration:none;font-weight: bold;font-size:32px">Repositório TCC</a>
            </div>
            
            <a class="login" href="/cadastro">Cadastrar</a>
            <a class="login" href="/login">Login</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
